###### Data partitioning is critical to data processing performance especially for large volume of data processing in Spark.
###### pyspark : How to write dataframe partition by year/month/ sub-directory?

In [0]:
df_emp_csv  = spark.read.option("nullValue","null").csv("/FileStore/tables/emp.csv",header=True,inferSchema=True)
display(df_emp_csv)

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,UPDATED_DATE
7369,SMITH,CLERK,7902,1980-12-17,800,null,20,2022-01-01
7499,ALLEN,SALESMAN,7698,1981-02-20,1600,300,30,2022-01-01
7521,WARD,SALESMAN,7698,1981-02-22,1250,500,30,2022-01-01
7566,JONES,MANAGER,7839,1981-02-04,2975,null,20,2022-01-05
7654,MARTIN,SALESMAN,7698,1981-09-21,1250,1400,30,2022-01-03
7698,SGR,MANAGER,7839,1981-01-05,2850,null,30,2022-01-04
7782,RAVI,MANAGER,7839,1981-09-06,2450,null,10,2022-01-02
7788,SCOTT,ANALYST,7566,1987-04-19,3000,null,20,2022-01-02
7839,KING,PRESIDENT,null,1981-11-01,5000,null,10,2022-01-02
7844,TURNER,SALESMAN,7698,1981-08-09,1500,0,30,2022-01-02
7876,ADAMS,CLERK,7788,1987-05-23,1100,null,20,2022-01-03
7900,JAMES,CLERK,7698,1981-03-12,950,null,30,2022-01-03
7902,FORD,ANALYST,7566,1981-03-12,3000,null,20,2022-01-03
7934,MILLER,CLERK,7782,1982-03-01,1300,null,10,2022-01-03
1234,SEKHAR,doctor,7777,null,667,78,80,2022-01-03
7369,SMITH,CLERK,7902,1980-12-17,800,null,20,2022-01-04
7499,ALLEN,SALESMAN,7698,1981-02-20,1600,300,30,2022-01-04
7521,WARD,SALESMAN,7698,1981-02-22,1250,500,30,2022-01-04
7566,JONES,MANAGER,7839,1981-02-04,2975,null,20,2022-01-04
7654,MARTIN,SALESMAN,7698,1981-09-21,1250,1400,30,2022-01-05
7698,SGR,MANAGER,7839,1981-01-05,2850,null,30,2022-01-05
7782,RAVI,MANAGER,7839,1981-09-06,2450,null,10,2022-01-05
7788,SCOTT,ANALYST,7566,1987-04-19,3000,null,20,2022-01-06
7839,KING,PRESIDENT,null,1981-11-01,5000,null,10,2022-01-06
7844,TURNER,SALESMAN,7698,1981-08-09,1500,0,30,2022-01-06
7876,ADAMS,CLERK,7788,1987-05-23,1100,null,20,2022-01-06
7900,JAMES,CLERK,7698,1981-03-12,950,null,30,2022-01-07
7902,FORD,ANALYST,7566,1981-03-12,3000,null,20,2022-01-07
7934,MILLER,CLERK,7782,1982-03-01,1300,null,10,2022-01-07
1234,RAM,CLERK,7457,null,494,588,80,2022-01-07
null,null,null,null,null,null,null,null,null
null,null,null,null,null,null,null,null,null
null,null,null,null,null,null,null,null,null

In [0]:
from pyspark.sql.functions import to_date
#Change string to Date DataType
df_emp_csv = df_emp_csv.withColumn("HIREDATE",to_date("HIREDATE",'dd-MM-yyyy')).fillna({"HIREDATE":'9999-12-31'})
df_emp_csv.show()

+-----+------+---------+----+----------+----+----+------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+---------+----+----------+----+----+------+------------+
| 7369| SMITH|    CLERK|7902|1980-12-17| 800|null|    20|  2022-01-01|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600| 300|    30|  2022-01-01|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250| 500|    30|  2022-01-01|
| 7566| JONES|  MANAGER|7839|1981-02-04|2975|null|    20|  2022-01-05|
| 7654|MARTIN| SALESMAN|7698|1981-09-21|1250|1400|    30|  2022-01-03|
| 7698|   SGR|  MANAGER|7839|1981-01-05|2850|null|    30|  2022-01-04|
| 7782|  RAVI|  MANAGER|7839|1981-09-06|2450|null|    10|  2022-01-02|
| 7788| SCOTT|  ANALYST|7566|1987-04-19|3000|null|    20|  2022-01-02|
| 7839|  KING|PRESIDENT|null|1981-11-01|5000|null|    10|  2022-01-02|
| 7844|TURNER| SALESMAN|7698|1981-08-09|1500|   0|    30|  2022-01-02|
| 7876| ADAMS|    CLERK|7788|1987-05-23|1100|null|    20|  2022-01-03|
| 7900| JAMES|    CLERK|7698|1981-03-12| 950|null|    30|  2022-01-03|
| 7902|  FORD|  ANALYST|7566|1981-03-12|3000|null|    20|  2022-01-03|
| 7934|MILLER|    CLERK|7782|1982-03-01|1300|null|    10|  2022-01-03|
| 1234|SEKHAR|   doctor|7777|9999-12-31| 667|  78|    80|  2022-01-03|
| 7369| SMITH|    CLERK|7902|1980-12-17| 800|null|    20|  2022-01-04|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600| 300|    30|  2022-01-04|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250| 500|    30|  2022-01-04|
| 7566| JONES|  MANAGER|7839|1981-02-04|2975|null|    20|  2022-01-04|
| 7654|MARTIN| SALESMAN|7698|1981-09-21|1250|1400|    30|  2022-01-05|
+-----+------+---------+----+----------+----+----+------+------------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import date_format
#creating two YEAR and MONTH new columns based on hiredate date field
df_emp_csv = df_emp_csv.withColumn("YEAR",date_format("HIREDATE",'yyyy')).withColumn("MONTH",date_format("HIREDATE",'MM'))
df_emp_csv.show()

+-----+------+---------+----+----------+----+----+------+------------+----+-----+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|YEAR|MONTH|
+-----+------+---------+----+----------+----+----+------+------------+----+-----+
| 7369| SMITH|    CLERK|7902|1980-12-17| 800|null|    20|  2022-01-01|1980|   12|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600| 300|    30|  2022-01-01|1981|   02|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250| 500|    30|  2022-01-01|1981|   02|
| 7566| JONES|  MANAGER|7839|1981-02-04|2975|null|    20|  2022-01-05|1981|   02|
| 7654|MARTIN| SALESMAN|7698|1981-09-21|1250|1400|    30|  2022-01-03|1981|   09|
| 7698|   SGR|  MANAGER|7839|1981-01-05|2850|null|    30|  2022-01-04|1981|   01|
| 7782|  RAVI|  MANAGER|7839|1981-09-06|2450|null|    10|  2022-01-02|1981|   09|
| 7788| SCOTT|  ANALYST|7566|1987-04-19|3000|null|    20|  2022-01-02|1987|   04|
| 7839|  KING|PRESIDENT|null|1981-11-01|5000|null|    10|  2022-01-02|1981|   11|
| 7844|TURNER| SALESMAN|7698|1981-08-09|1500|   0|    30|  2022-01-02|1981|   08|
| 7876| ADAMS|    CLERK|7788|1987-05-23|1100|null|    20|  2022-01-03|1987|   05|
| 7900| JAMES|    CLERK|7698|1981-03-12| 950|null|    30|  2022-01-03|1981|   03|
| 7902|  FORD|  ANALYST|7566|1981-03-12|3000|null|    20|  2022-01-03|1981|   03|
| 7934|MILLER|    CLERK|7782|1982-03-01|1300|null|    10|  2022-01-03|1982|   03|
| 1234|SEKHAR|   doctor|7777|9999-12-31| 667|  78|    80|  2022-01-03|9999|   12|
| 7369| SMITH|    CLERK|7902|1980-12-17| 800|null|    20|  2022-01-04|1980|   12|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600| 300|    30|  2022-01-04|1981|   02|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250| 500|    30|  2022-01-04|1981|   02|
| 7566| JONES|  MANAGER|7839|1981-02-04|2975|null|    20|  2022-01-04|1981|   02|
| 7654|MARTIN| SALESMAN|7698|1981-09-21|1250|1400|    30|  2022-01-05|1981|   09|
+-----+------+---------+----+----------+----+----+------+------------+----+-----+
only showing top 20 rows

In [0]:
# using PartitionBy with two columns creating partitions
df_emp_csv.write.format("delta").partitionBy("YEAR","MONTH").mode("overwrite").saveAsTable("emp_part")

In [0]:
%fs ls /user/hive/warehouse/emp_part/YEAR=1980/MONTH=12/

path,name,size,modificationTime
dbfs:/user/hive/warehouse/emp_part/YEAR=1980/MONTH=12/part-00000-feb42a8e-5f46-4298-95f1-ccc8a3ce6d31.c000.snappy.parquet,part-00000-feb42a8e-5f46-4298-95f1-ccc8a3ce6d31.c000.snappy.parquet,2687,1718244482000

In [0]:
%sql
 select * from emp_part where year='1980'

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,UPDATED_DATE,YEAR,MONTH
7369,SMITH,CLERK,7902,1980-12-17,800,null,20,2022-01-01,1980,12
7369,SMITH,CLERK,7902,1980-12-17,800,null,20,2022-01-04,1980,12