In [0]:
df = spark.createDataFrame(
     [(2, "Alice"), (3, "Alice"), (5, "Bob"), (10, "Bob")], ["age", "name"])

In [0]:
df.show()

+---+-----+
|age| name|
+---+-----+
|  2|Alice|
|  3|Alice|
|  5|  Bob|
| 10|  Bob|
+---+-----+

In [0]:
# Group-by name, and count each group.

df.groupBy(df.name).agg({"*": "count"}).sort("name").show()

+-----+--------+
| name|count(1)|
+-----+--------+
|Alice|       2|
|  Bob|       2|
+-----+--------+

In [0]:
from pyspark.sql import functions as sf

In [0]:
#Group-by name, and calculate the minimum age.

df.groupBy(df.name).agg(sf.min(df.age)).sort("name").show()

+-----+--------+
| name|min(age)|
+-----+--------+
|Alice|       2|
|  Bob|       5|
+-----+--------+

In [0]:
df1 = spark.createDataFrame([
    (2, "Alice", 80), (3, "Alice", 100),
    (5, "Bob", 120), (10, "Bob", 140)], ["age", "name", "height"])
df1.show()

+---+-----+------+
|age| name|height|
+---+-----+------+
|  2|Alice|    80|
|  3|Alice|   100|
|  5|  Bob|   120|
| 10|  Bob|   140|
+---+-----+------+

In [0]:
#Group-by name, and calculate the sum of the age in each group.

df.groupBy("name").sum("age").sort("name").show()

+-----+--------+
| name|sum(age)|
+-----+--------+
|Alice|       5|
|  Bob|      15|
+-----+--------+

In [0]:
#Calculate the sum of the age and height in all data.


df1.groupBy().sum("age", "height").show()

+--------+-----------+
|sum(age)|sum(height)|
+--------+-----------+
|      20|        440|
+--------+-----------+

In [0]:
#Group-by name, and calculate the mean of the age in each group.

df1.groupBy("name").avg('age').sort("name").show()

+-----+--------+
| name|avg(age)|
+-----+--------+
|Alice|     2.5|
|  Bob|     7.5|
+-----+--------+

In [0]:
#Calculate the mean of the age and height in all data.

df1.groupBy().avg('age', 'height').show()

+--------+-----------+
|avg(age)|avg(height)|
+--------+-----------+
|     5.0|      110.0|
+--------+-----------+