In [0]:
from pyspark.sql.functions import col, lit

In [0]:
from pyspark.sql import Row

In [0]:
df = spark.createDataFrame(
    [(14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])

In [0]:
df.show()

+---+-----+
|age| name|
+---+-----+
| 14|  Tom|
| 23|Alice|
| 16|  Bob|
+---+-----+

In [0]:
df2 = spark.createDataFrame([Row(height=80, name="Tom"), Row(height=85, name="Bob")])

In [0]:
df2.show()

+------+----+
|height|name|
+------+----+
|    80| Tom|
|    85| Bob|
+------+----+

In [0]:
df.drop('age').show()

+-----+
| name|
+-----+
|  Tom|
|Alice|
|  Bob|
+-----+

In [0]:
#Drop the column that joined both DataFrames on.

df.join(df2, df.name == df2.name, 'inner').drop('name').sort('age').show()

+---+------+
|age|height|
+---+------+
| 14|    80|
| 16|    85|
+---+------+

In [0]:
df3 = df.join(df2)
df3.show()

+---+-----+------+----+
|age| name|height|name|
+---+-----+------+----+
| 14|  Tom|    80| Tom|
| 14|  Tom|    85| Bob|
| 23|Alice|    80| Tom|
| 23|Alice|    85| Bob|
| 16|  Bob|    80| Tom|
| 16|  Bob|    85| Bob|
+---+-----+------+----+

In [0]:
#Drop two column by the same name.

df3.drop("name").show()

+---+------+
|age|height|
+---+------+
| 14|    80|
| 14|    85|
| 23|    80|
| 23|    85|
| 16|    80|
| 16|    85|
+---+------+

In [0]:
# Drop_duplicates()
# from pyspark.sql import Row
df = spark.createDataFrame([
    Row(name='Alice', age=5, height=80),
    Row(name='Alice', age=5, height=80),
    Row(name='Alice', age=10, height=80)
])

In [0]:
df.show()

+-----+---+------+
| name|age|height|
+-----+---+------+
|Alice|  5|    80|
|Alice|  5|    80|
|Alice| 10|    80|
+-----+---+------+

In [0]:
df.dropDuplicates().show()

+-----+---+------+
| name|age|height|
+-----+---+------+
|Alice|  5|    80|
|Alice| 10|    80|
+-----+---+------+

In [0]:
df.dropDuplicates(['name', 'height']).show()

+-----+---+------+
| name|age|height|
+-----+---+------+
|Alice|  5|    80|
+-----+---+------+