In [0]:
df = spark.read.json("/FileStore/tables/test.json", multiLine=True)

In [0]:
df.show()

+--------------------+---+-----+
|          attributes| id| name|
+--------------------+---+-----+
|{30, [reading, cy...|  1|Alice|
|    {25, [painting]}|  2|  Bob|
+--------------------+---+-----+

In [0]:
df.printSchema()

root
 |-- attributes: struct (nullable = true)
 |    |-- age: long (nullable = true)
 |    |-- hobbies: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [0]:
from pyspark.sql.functions import col, explode
df_normalized = df.select(col('id'), col('name'),col('attributes.age').alias('age'), col('attributes.hobbies').alias('hobbies'))

In [0]:
df_normalized.show()

+---+-----+---+------------------+
| id| name|age|           hobbies|
+---+-----+---+------------------+
|  1|Alice| 30|[reading, cycling]|
|  2|  Bob| 25|        [painting]|
+---+-----+---+------------------+

In [0]:
df_exploded = df_normalized.withColumn('hobby',explode(col('hobbies'))).drop('hobbies')

In [0]:
df_exploded.show()

+---+-----+---+--------+
| id| name|age|   hobby|
+---+-----+---+--------+
|  1|Alice| 30| reading|
|  1|Alice| 30| cycling|
|  2|  Bob| 25|painting|
+---+-----+---+--------+

In [0]:
df = spark.read.json("/FileStore/tables/Sample.json", multiLine=True)

In [0]:
df.show()

+--------------------+---+--------------------+---+--------------------+---------+-------------+
|             address|age|               email| id|           interests|is_active|         name|
+--------------------+---+--------------------+---+--------------------+---------+-------------+
|{Springfield, IL,...| 28|john.doe@example.com|  1|[hiking, reading,...|     true|     John Doe|
|{Dover, DE, 456 O...| 34|jane.smith@exampl...|  2|  [cooking, cycling]|    false|   Jane Smith|
|{Austin, TX, 789 ...| 29|alice.johnson@exa...|  3|[photography, gam...|     true|Alice Johnson|
+--------------------+---+--------------------+---+--------------------+---------+-------------+